.radial-menu-container {
  position: relative;
  width: 600px; /* Aumentado para dar mais espaço */
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radial-menu-center {
  color: var(--color-text-bright);
  background-color: var(--color-bg-light);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid var(--color-border);
  z-index: 10;
  pointer-events: none;
  text-transform: capitalize;
}

.radial-menu-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg); /* Começa o primeiro item no topo */
}

.slice-path {
  fill: rgba(42, 71, 94, 0.7);
  stroke: var(--color-bg-dark);
  stroke-width: 0.015; /* Linha de separação um pouco mais grossa */
  transition: fill 0.2s ease-in-out;
}

.radial-menu-slice-group {
  cursor: pointer;
}

.radial-menu-slice-group:hover .slice-path {
  fill: var(--color-accent);
}

.slice-text {
  font-size: 0.08px; /* Tamanho da fonte muito mais pequeno, relativo ao SVG */
  font-family: 'Poppins', sans-serif;
  fill: var(--color-text);
  font-weight: 500;
  text-anchor: middle; /* Centraliza o texto no seu eixo */
  text-transform: uppercase;
  pointer-events: none;
  letter-spacing: 0.01px;
}

.slice-text tspan {
  display: inline-block;
  text-align: center;
}


.radial-menu-slice-group:hover .slice-text {
  fill: var(--color-bg-dark);
  font-weight: 600;
}

/* Estado Desativado */
.radial-menu-slice-group.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.radial-menu-slice-group.disabled .slice-path {
  fill: rgba(27, 40, 56, 0.6);
}

.radial-menu-slice-group.disabled .slice-text {
  fill: #5a6978;
}