.homepage {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.interactive-selection-area {
  width: 100%;
  min-height: 550px;
  background-color: var(--color-bg-light);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.preview-area {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skin-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--color-text-bright);
}

.skin-selection-header h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

.skin-selection-header p {
  font-size: 1.1rem;
  color: var(--color-text);
  text-align: center;
}

.skin-selection-controls {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

.custom-select {
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  padding: 0.75rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  font-family: inherit;
  font-size: 1rem;
  flex-grow: 1;
  height: 50px;
}

.controls-area {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-top: 1.5rem;
  border-top: 1px solid var(--color-border);
  margin-top: 2rem;
}

.control-button {
  height: 50px;
  padding: 0 1.5rem;
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s;
}

.search-button {
  background-color: var(--color-accent);
  color: var(--color-bg-dark);
  border-color: var(--color-accent);
}

.control-button:hover {
  border-color: var(--color-accent);
  color: var(--color-text-bright);
}

.search-button:hover {
  background-color: #8dd1f9;
  border-color: #8dd1f9;
  color: var(--color-bg-dark);
}

.search-button:disabled {
  background-color: var(--color-bg-lighter);
  border-color: var(--color-border);
  color: var(--color-text);
  cursor: not-allowed;
}

.results-section {
  /* Estilos para a área de resultados */
}

.loader, .no-results {
  text-align: center;
  padding: 4rem; /* Mais padding para destaquQe */
  font-size: 1.2rem;
  color: var(--color-text);
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}