.homepage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.home-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.home-landing h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #f1f1f1;
}

.home-landing p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ccc;
}

.start-button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.start-button:hover {
  background-color: #019847;
}
